%% ex: ft=erlang

%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.

{deps, [
    {'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

{erl_opts, [warn_unused_vars,
            warn_unused_import,
            warn_exported_vars,
            debug_info,
            fail_on_warning,
            {parse_transform, lager_transform}
           ]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.
